<div class="component-main">
    <h3>{{contactHeader}}</h3>

    <div class="wrp">
        <a href="{{igLink}}"  target="_blank" class="ig-wrp">
            <div class="ig-img width-100p center">
                <img class="width-40px" src="assets/images/instagram.png" alt="">
            </div>
            <div class="ig-text">
                {{ igText }}
            </div>
        </a>
      
      
       <a href="{{fbLink}}" target="_blank" class="mess-wrp">
            <div class="mess-img width-100p center">
                <img class="width-40px" src="assets/images/messenger.png" alt="">
            </div>
            <div class="mess-text">
                {{ fbText }}
            </div>
        </a>

        <a href="{{dcLink}}"  target="_blank" class="discord-wrp ">
            <div class="discord-img width-100p center">
                <img class="width-40px" src="assets/images/discord.png" alt="">
            </div>
            <div class="discord-text">
                {{ dcText }}
            </div>
        </a>
    </div>
    <div class="email">
        <div class="icon-wrp">
            <img src="assets/images/email.png" alt="">
        </div>
        <div class="email-wrp">
            {{email}}
        </div>
    </div>
</div>