<section id="about-me" class="about-section light-theme">
  <div class="about-content">
    
    <h2 class="section-title" [innerHTML]="header"></h2>
    
    <div class="about-text-wrapper">
        <p class="about-text" [innerHTML]="paragraph_1">          
        </p>
        <p class="about-text" [innerHTML]="paragraph_2">
           
        </p>
    </div>

    <div class="current-status-and-links">
        <div class="working-status-wrapper">
            <h3 class="experience-heading" [innerHTML]="header_praxe"></h3>
            <ul class="experience-timeline">
                <li class="timeline-item">
                    <div class="timeline-dot"><i class="fas fa-briefcase"></i></div>
                    <div class="timeline-content">
                        <span class="timeline-date" [innerHTML]="htec_year"></span>
                        <span class="timeline-company"[innerHTML]="htec_name"></span>
                        <span class="timeline-role"[innerHTML]="htec_pos"></span>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-dot"><i class="fas fa-code"></i></div>
                    <div class="timeline-content">
                        <span class="timeline-date"[innerHTML]="rp_year"></span>
                        <span class="timeline-company"[innerHTML]="rp_name"></span>
                        <span class="timeline-role"[innerHTML]="rp_pos"></span>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-dot"><i class="fas fa-briefcase"></i></div>
                    <div class="timeline-content">
                        <span class="timeline-date"[innerHTML]="viagem_year"></span>
                        <span class="timeline-company"[innerHTML]="viagem_name"></span>
                        <span class="timeline-role"[innerHTML]="viagem_pos"></span>
                    </div>
                </li>
                
                <li class="timeline-item">
                    <div class="timeline-dot"><i class="fas fa-briefcase"></i></div>
                    <div class="timeline-content">
                        <span class="timeline-date"[innerHTML]="naucseto_year"></span>
                        <span class="timeline-company"[innerHTML]="naucseto_name"></span>
                        <span class="timeline-role"[innerHTML]="naucseto_pos"></span>
                    </div>
                </li>
            </ul>
        </div>
        
        <a href="/assets/files/Jonáš_Bučina_CV_public.pdf" download class="cv-download-link">
            <i class="fas fa-file-pdf"></i>
            <div [innerHTML]="download_label"></div>
        </a>
    </div>
    
  </div>
</section>