<div class="component-main">
    <h3>{{servicesHeader}}</h3>    
    <div class="icons-wrp">
        <div class="in-wrp">
            <h5>{{service_1}}</h5>
        </div>
        <div class="website-wrp overlay">
        </div>
        <div class="in-wrp">
            <h5>{{service_2}}</h5>
        </div>
        <div class="webapp-wrp overlay">
        </div>
        <div class="in-wrp">
            <h5>{{service_3}}</h5>
        </div>
        <div class="desktopapp-wrp overlay">
        </div>
    </div>
</div>