<header #mainHeader id="header" [class.scrolled]="isScrolled()">
  <div class="header-content">
    
    <div class="logo"></div>

    <button class="hamburger" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>

    <nav class="desktop-nav">
      <a href="#about-me">{{about_me}}</a>
      <a href="#projects-skills">{{projects_skills}}</a>
      <a href="#collaboration">{{collaboration}}</a>
      <a href="#contact">{{contact}}</a>
    </nav>
    
    <div class="language-switch desktop-only">
      <span [class.active]="!isEnglish()">CZ</span>
      <label class="switch">
        <input 
          type="checkbox" 
          [checked]="isEnglish()"
          (change)="onLanguageChange($event)">
        <span class="slider round"></span>
      </label>
      <span [class.active]="isEnglish()">EN</span>
    </div>

  </div>

  <nav class="mobile-menu" [class.open]="isMobileMenuOpen()" *ngIf="isMobileMenuOpen()">
    <a href="#about-me" (click)="closeMenu()">{{about_me}}</a>
    <a href="#projects-skills" (click)="closeMenu()">{{projects_skills}}</a>
    <a href="#collaboration" (click)="closeMenu()">{{collaboration}}</a>
    <a href="#contact" (click)="closeMenu()">{{contact}}</a>
    
    <div class="language-switch mobile-only">
        <span [class.active]="!isEnglish()">CZ</span>
        <label class="switch">
            <input 
              type="checkbox" 
              [checked]="isEnglish()"
              (change)="onLanguageChange($event)">
            <span class="slider round"></span>
        </label>
        <span [class.active]="isEnglish()">EN</span>
    </div>

  </nav>

</header>