.header{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 20px;
    color: #0f1116;
    background-color: #5ca060;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    border-radius: 0px 0px 5px 5px;
    display: flex;
}
.card{
    text-decoration: none;
    color: #d2d4d3;
}
.info-wrp{
    width: 50%;
    height: 100%;
    background-color: #191819;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.info-text{
    height: 90%;
    width: 90%;
}
.img-wrp{
    width: 50%;
    height: 100%;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;                
    display: flex;
    border-bottom-right-radius: 5px;
}
.github-wrapper{
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: end;
    color: #0f1116;
    width: 100%;
}
.github{
    display: flex;
    background-color: #a2a2a3;
    border-radius: 9999px;
}
.logo{
    width: 12px;
    height: 12px;
    padding-left: 2px;
}
.text{
    padding-right: 5px;
    font-size: 11px;
    padding-left: 5px;
    width: auto;
}
.logo img{
    width: 100%;
    height: 100%;
}

.wrp{
    font-size: 13.6px;
    height: 75px;
    padding-top: 5px;
    transition: height 0.3s ease-in-out;
    width: 100%;
}
.wrp a{
    text-decoration: none;
}
.wrp:hover{
    cursor: pointer;
    height: 150px;
}

@media(max-width: 1660px){
    .wrp{
        transition: none;
        height: 170px;
    }
    .img-wrp{
        height: auto;
    }
    .wrp:hover {
        height: auto;
        cursor: default;
    }

}