<main>
    <div id="app-side-bar" class="setting-wrp">
        <app-side-bar class="app-side-bar"></app-side-bar>
    </div>    
    <div class="info-wrapper">        
            <div id="app-info" class="wrapper static-border">
                <div class="inner-fill">
                    <app-info></app-info>
                </div>
            </div>
            <div id="app-service" class="wrapper static-border">
                <div class="inner-fill">
                    <app-services></app-services>
                </div>
            </div>
    </div>
    <div class="stats-wrapper">
        <div class="texh-wrapper">
            <div id="app-tech-stats" class="wrapper static-border">
                <div class="inner-fill">
                    <app-tech-stats></app-tech-stats>
                </div>
            </div>
            <div id="app-collaboration" class="wrapper static-border">
                <div class="inner-fill">
                    <app-collaboration></app-collaboration>
                </div>
            </div>
            <div class="projects-wrapper">
                <div id="projects-wrapper" class="wrapper static-border projects-mobile">
                    <div class="inner-fill">
                        <app-projects></app-projects>
                    </div>
                </div>
            </div>
            <div id="app-contact" class="wrapper static-border">
                <div class="inner-fill">
                    <app-contact></app-contact>
                </div>
            </div>   
    
        </div>
        <div id="app-footer-bar" class="footer-wrapper static-border ">
            <div class="inner-fill">
                <app-footer-bar></app-footer-bar>
            </div>
        </div>

    </div>
    <div class="projects-wrapper">
        <div id="projects-wrapper" class="wrapper static-border project-desktop">
            <div class="inner-fill">
                <app-projects></app-projects>
            </div>
        </div>
    </div>
</main>