<div class="header-part">
    <div class="header-part-2">
        <div class="img-wrp">
            <img src="{{profileIconLink}}" alt="">
        </div>

        <div class="name-wrp">
            <div class="name-inside-wrp">
                <h2>{{name}}</h2>
                <img class="img" src="{{flagPath}}" alt="">
            </div>
            <div class="onlinestatus-wrp">
                <div class="onlinestatus">
                    <div class="online-circle">
                        
                    </div>
                    <div class="online-text">
                        {{onlineStatus}}
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="line"></div>
    <div class="personalInfo-wrp">
        <div class="info-wrp" *ngFor="let info of personalInfo">
            <div class="info-ins-wrp pad-right-5px pad-left-5px">
                <div class="icon-wrp">
                    
                </div>
                <div class="info ">
                    {{info.title}}
                </div>
            </div>        
        </div>
    </div>
        
</div>



