/* --- Footer Component Styles --- */

#footer {
    padding: 1rem;
    background-color: #1c1c1c;
    color: #9ca3af; /* Světle šedá pro text */
    text-align: center;
    font-size: 0.875rem;
    box-sizing: border-box;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    z-index: 22;
}

.copyright {
    margin-bottom: 0.5rem;
}

.back-to-top {
    color: #f59e0b; /* Jantarová */
    text-decoration: none;
    transition: color 0.3s ease;
}

.back-to-top:hover {
    color: #fcd34d;
}