<footer id="footer">
  <div class="footer-content-wrapper">
    <p class="copyright">&copy; 2025 Jonáš Bučina | Software Developer</p>
    
    <nav class="footer-nav">
      <a href="https://github.com/silenyJonas/portfolium" target="_blank" class="footer-link source-code-link">
        <img src="assets/images/icons/github.png" alt="GitHub Logo" class="github-icon"> Zdrojový Kód Stránky
      </a>
      <span class="separator">|</span>
      <a href="#about-me" class="footer-link back-to-top">Zpět na začátek</a>
    </nav>
  </div>
</footer>