<section id="projects-skills" class="projects-skills-section">
  <div class="content-wrapper">
    
    <h2 class="section-title" [innerHTML]="header"></h2>
    <p class="section-intro" [innerHTML]="capture">

    <div class="skills-container-with-dividers"> 
        
        <div class="skills-column">
            <h3 class="skills-heading" [innerHTML]="web_header"></h3>
            <div class="tech-icons-grid">
                <a href="https://angular.io/docs" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/angular.png" alt="Angular Logo" class="tech-icon-img"> 
                    <span>Angular</span>
                </a>
                <a href="https://laravel.com/docs" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/laravel.png" alt="Laravel Logo" class="tech-icon-img"> 
                    <span>Laravel</span>
                </a>
                <a href="https://www.php.net/docs.php" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/php.png" alt="PHP Logo" class="tech-icon-img"> 
                    <span>PHP</span>
                </a>
                <a href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-8.0" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/aspnet.png" alt="ASP.NET Logo" class="tech-icon-img"> 
                    <span>ASP.NET</span>
                </a>
            </div>
        </div>

        <div class="skills-divider"></div> 

        <div class="skills-column">
            <h3 class="skills-heading" [innerHTML]="desktop_header"></h3>
            <div class="tech-icons-grid">
                <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/csharp.png" alt="C# Logo" class="tech-icon-img"> 
                    <span>C# / .NET</span>
                </a>
                <a href="https://cplusplus.com/doc/tutorial/" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/cpp.png" alt="C++ Logo" class="tech-icon-img"> 
                    <span>C++</span>
                </a>
                <a href="https://en.cppreference.com/w/c/language" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/c.png" alt="C Logo" class="tech-icon-img"> 
                    <span>C</span>
                </a>
                <a href="https://docs.python.org/3/" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/python.png" alt="Python Logo" class="tech-icon-img"> 
                    <span>Python</span>
                </a>
            </div>
        </div>

        <div class="skills-divider"></div> 

        <div class="skills-column">
            <h3 class="skills-heading" [innerHTML]="db_header"></h3>
            <div class="tech-icons-grid">
                <a href="https://dev.mysql.com/doc/" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/mysql.png" alt="MySQL Logo" class="tech-icon-img"> 
                    <span>SQL / MySQL</span>
                </a>
                <a href="https://www.sqlite.org/docs.html" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/sqlite.png" alt="SQLite Logo" class="tech-icon-img"> 
                    <span>SQLite</span>
                </a>
                <a href="https://git-scm.com/doc" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/git.png" alt="Git Logo" class="tech-icon-img"> 
                    <span>Git</span>
                </a>
                <a href="https://docs.docker.com/" target="_blank" class="tech-item">
                    <img src="assets/images/tech-icons/docker.png" alt="Docker Logo" class="tech-icon-img"> 
                    <span>Docker</span>
                </a>
            </div>
        </div>
    </div> 
    
    <h3 class="projects-heading" [innerHTML]="selected_projects_header"></h3>
    <div class="projects-grid">
      
     <div class="project-card">
        <h4 class="project-title" [innerHTML]="web_app_header"></h4>
        <p class="project-description" [innerHTML]="web_app_text">
        </p>
        <p class="project-tech" [innerHTML]="web_app_tech"></p>
        <div class="project-links">
          <a href="https://www.rpsw.cz" target="_blank" class="link-button live-link" [innerHTML]="web_app_button">
            
          </a>
        
        </div>
      </div>

      <div class="project-card">
        <h4 class="project-title" [innerHTML]="mc_app_header"></h4>
        <p class="project-description" [innerHTML]="mc_app_text">
         
        </p>
        <p class="project-tech" [innerHTML]="mc_app_tech"></p>
        <div class="project-links">
          <a href="https://github.com/silenyJonas/file_manager" target="_blank" class="link-button github-link full-width">
            <span class="icon-text" [innerHTML]="mc_app_button"></span>
          </a>
        </div>
      </div>
    

      <div class="project-card">
          <h4 class="project-title" [innerHTML]="db_app_header"></h4>
          <p class="project-description" [innerHTML]="db_app_text">
           
          </p>
          <p class="project-tech" [innerHTML]="db_app_tech"></p>
          <div class="project-links">
            <a href="https://github.com/silenyJonas/database_api" target="_blank" class="link-button github-link full-width">
              <span class="icon-text" [innerHTML]="db_app_button"></span>
            </a>
          </div>
      </div>
      
    </div>
    
  </div>
</section>